@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-body:
    'Wotfard', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  --font-heading:
    'AcidGrotesk', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  --font-code: 'MonoLisa', 'monaco', 'Consolas', 'Lucida Console', 'monospace';

  --text-h1: 1.5rem;
  --text-h1--line-h1: 1.4;
  --text-h2: 1.25rem;
  --text-h2--line-h1: 1.4;
  --text-h3: 1.125rem;
  --text-h3--line-h1: 1.4;

  --text-lg--line-height: 1.625;
  --text-base--line-height: 1.625;
  --text-sm--line-height: 1.625;

  /* --color-bg-1: var(--color-neutral-0);
  --color-bg-2: var(--color-neutral-25);
  --color-ui-1: var(--color-neutral-50);
  --color-ui-2: var(--color-neutral-100);
  --color-ui-3: var(--color-neutral-200);
  --color-tx-3: var(--color-neutral-600);
  --color-tx-2: var(--color-neutral-700);
  --color-tx-1: var(--color-neutral-800);
  --color-tx-0: var(--color-neutral-900); */

  /* html.dark { */
  --color-bg-1: var(--color-neutral-950);
  --color-bg-2: var(--color-neutral-900);
  --color-ui-1: var(--color-neutral-800);
  --color-ui-2: var(--color-neutral-700);
  --color-ui-3: var(--color-neutral-600);
  --color-tx-3: var(--color-neutral-300);
  --color-tx-2: var(--color-neutral-100);
  --color-tx-1: var(--color-neutral-25);
  --color-tx-0: var(--color-neutral-0);
  --color-tx-movie: var(--color-teal-400);
  --color-tx-tv: var(--color-sapphire-400);
  --color-tx-book: var(--color-red-400);
  --color-tx-music: var(--color-lavender-400);
  --color-tx-game: var(--color-peach-400);
  --color-tx-spotify: rgba(30, 215, 96, 1);

  --color-tx-accent-1: var(--color-mauve-400);
  --color-tx-accent-2: var(--color-mauve-500);
  --color-bg-accent-1: var(--color-mauve-500);

  /* --color-gradient: linear-gradient(
    45deg,
    var(--color-sky-300),
    var(--color-blue-300) 50%,
    var(--color-sky-300)
  ); */
  --color-tx-gradient: linear-gradient(
    45deg,
    var(--color-lavender-300),
    var(--color-mauve-400) 20%,
    var(--color-mauve-500) 50%,
    var(--color-mauve-400) 80%,
    var(--color-lavender-300)
  );

  /* --color-lavender-50: rgba(238, 241, 255, 1);
  --color-lavender-100: rgba(223, 230, 255, 1);
  --color-lavender-200: rgba(198, 207, 255, 1);
  --color-lavender-300: rgba(180, 190, 254, 1);
  --color-lavender-400: rgba(127, 133, 250, 1);
  --color-lavender-500: rgba(99, 96, 244, 1);
  --color-lavender-600: rgba(82, 67, 232, 1);
  --color-lavender-700: rgba(70, 53, 205, 1);
  --color-lavender-800: rgba(57, 46, 165, 1);
  --color-lavender-900: rgba(50, 44, 131, 1);
  --color-lavender-950: rgba(31, 26, 76, 1);
  --color-blue-50: rgba(239, 245, 255, 1);
  --color-blue-100: rgba(220, 231, 253, 1);
  --color-blue-200: rgba(192, 213, 253, 1);
  --color-blue-300: rgba(137, 180, 250, 1);
  --color-blue-400: rgba(100, 152, 246, 1);
  --color-blue-500: rgba(63, 115, 242, 1);
  --color-blue-600: rgba(42, 84, 230, 1);
  --color-blue-700: rgba(33, 64, 212, 1);
  --color-blue-800: rgba(33, 53, 172, 1);
  --color-blue-900: rgba(33, 50, 135, 1);
  --color-blue-950: rgba(24, 33, 83, 1);
  --color-sapphire-50: rgba(242, 249, 253, 1);
  --color-sapphire-100: rgba(227, 241, 251, 1);
  --color-sapphire-200: rgba(193, 229, 246, 1);
  --color-sapphire-300: rgba(116, 199, 236, 1);
  --color-sapphire-400: rgba(76, 183, 228, 1);
  --color-sapphire-500: rgba(36, 160, 211, 1);
  --color-sapphire-600: rgba(22, 128, 179, 1);
  --color-sapphire-700: rgba(19, 102, 145, 1);
  --color-sapphire-800: rgba(20, 86, 120, 1);
  --color-sapphire-900: rgba(22, 72, 100, 1);
  --color-sapphire-950: rgba(15, 47, 66, 1);
  --color-sky-50: rgba(238, 251, 253, 1);
  --color-sky-100: rgba(212, 244, 249, 1);
  --color-sky-200: rgba(175, 233, 242, 1);
  --color-sky-300: rgba(137, 220, 235, 1);
  --color-sky-400: rgba(58, 188, 214, 1);
  --color-sky-500: rgba(30, 159, 188, 1);
  --color-sky-600: rgba(28, 128, 158, 1);
  --color-sky-700: rgba(29, 103, 129, 1);
  --color-sky-800: rgba(32, 85, 106, 1);
  --color-sky-900: rgba(31, 72, 90, 1);
  --color-sky-950: rgba(15, 46, 61, 1);
  --color-teal-50: rgba(242, 251, 249, 1);
  --color-teal-100: rgba(211, 244, 238, 1);
  --color-teal-200: rgba(148, 226, 213, 1);
  --color-teal-300: rgba(116, 212, 200, 1);
  --color-teal-400: rgba(71, 186, 174, 1);
  --color-teal-500: rgba(46, 158, 149, 1);
  --color-teal-600: rgba(34, 127, 120, 1);
  --color-teal-700: rgba(31, 102, 98, 1);
  --color-teal-800: rgba(29, 82, 79, 1);
  --color-teal-900: rgba(28, 69, 67, 1);
  --color-teal-950: rgba(11, 39, 40, 1);
  --color-green-50: rgba(243, 251, 242, 1);
  --color-green-100: rgba(228, 247, 225, 1);
  --color-green-200: rgba(199, 238, 196, 1);
  --color-green-300: rgba(166, 227, 161, 1);
  --color-green-400: rgba(104, 200, 96, 1);
  --color-green-500: rgba(66, 173, 58, 1);
  --color-green-600: rgba(50, 142, 43, 1);
  --color-green-700: rgba(42, 112, 37, 1);
  --color-green-800: rgba(37, 89, 34, 1);
  --color-green-900: rgba(31, 74, 29, 1);
  --color-green-950: rgba(12, 40, 11, 1);
  --color-yellow-50: rgba(254, 248, 236, 1);
  --color-yellow-100: rgba(249, 226, 175, 1);
  --color-yellow-200: rgba(247, 215, 144, 1);
  --color-yellow-300: rgba(243, 189, 86, 1);
  --color-yellow-400: rgba(239, 165, 48, 1);
  --color-yellow-500: rgba(232, 132, 24, 1);
  --color-yellow-600: rgba(206, 97, 17, 1);
  --color-yellow-700: rgba(171, 67, 18, 1);
  --color-yellow-800: rgba(139, 53, 21, 1);
  --color-yellow-900: rgba(114, 45, 21, 1);
  --color-yellow-950: rgba(65, 21, 7, 1);
  --color-peach-50: rgba(255, 245, 237, 1);
  --color-peach-100: rgba(254, 232, 214, 1);
  --color-peach-200: rgba(252, 205, 172, 1);
  --color-peach-300: rgba(250, 179, 135, 1);
  --color-peach-400: rgba(246, 124, 65, 1);
  --color-peach-500: rgba(243, 88, 28, 1);
  --color-peach-600: rgba(228, 63, 18, 1);
  --color-peach-700: rgba(189, 45, 17, 1);
  --color-peach-800: rgba(150, 38, 22, 1);
  --color-peach-900: rgba(121, 33, 21, 1);
  --color-peach-950: rgba(65, 14, 9, 1);
  --color-maroon-50: rgba(253, 243, 244, 1);
  --color-maroon-100: rgba(251, 232, 235, 1);
  --color-maroon-200: rgba(246, 213, 218, 1);
  --color-maroon-300: rgba(235, 160, 172, 1);
  --color-maroon-400: rgba(229, 135, 152, 1);
  --color-maroon-500: rgba(215, 92, 117, 1);
  --color-maroon-600: rgba(194, 60, 95, 1);
  --color-maroon-700: rgba(163, 45, 78, 1);
  --color-maroon-800: rgba(137, 40, 71, 1);
  --color-maroon-900: rgba(117, 38, 65, 1);
  --color-maroon-950: rgba(65, 16, 32, 1);
  --color-red-50: rgba(254, 242, 245, 1);
  --color-red-100: rgba(253, 230, 235, 1);
  --color-red-200: rgba(251, 208, 220, 1);
  --color-red-300: rgba(247, 170, 190, 1);
  --color-red-400: rgba(243, 139, 168, 1);
  --color-red-500: rgba(231, 76, 123, 1);
  --color-red-600: rgba(211, 43, 102, 1);
  --color-red-700: rgba(178, 30, 86, 1);
  --color-red-800: rgba(149, 28, 77, 1);
  --color-red-900: rgba(128, 27, 72, 1);
  --color-red-950: rgba(71, 10, 35, 1);

  --color-mauve-50: rgba(250, 246, 254, 1);
  --color-mauve-100: rgba(242, 234, 253, 1);
  --color-mauve-200: rgba(232, 216, 252, 1);
  --color-mauve-300: rgba(203, 166, 247, 1);
  --color-mauve-400: rgba(189, 141, 243, 1);
  --color-mauve-500: rgba(164, 97, 235, 1);
  --color-mauve-600: rgba(141, 64, 221, 1);
  --color-mauve-700: rgba(121, 46, 194, 1);
  --color-mauve-800: rgba(103, 43, 158, 1);
  --color-mauve-900: rgba(84, 36, 127, 1);
  --color-mauve-950: rgba(56, 14, 93, 1);
  --color-pink-50: rgba(252, 243, 249, 1);
  --color-pink-100: rgba(250, 233, 246, 1);
  --color-pink-200: rgba(245, 194, 231, 1);
  --color-pink-300: rgba(243, 174, 222, 1);
  --color-pink-400: rgba(234, 124, 199, 1);
  --color-pink-500: rgba(224, 84, 175, 1);
  --color-pink-600: rgba(205, 53, 145, 1);
  --color-pink-700: rgba(177, 37, 117, 1);
  --color-pink-800: rgba(147, 33, 97, 1);
  --color-pink-900: rgba(123, 32, 83, 1);
  --color-pink-950: rgba(74, 13, 47, 1);
  --color-flamingo-50: rgba(252, 244, 244, 1);
  --color-flamingo-100: rgba(249, 231, 231, 1);
  --color-flamingo-200: rgba(242, 205, 205, 1);
  --color-flamingo-300: rgba(235, 182, 182, 1);
  --color-flamingo-400: rgba(222, 139, 139, 1);
  --color-flamingo-500: rgba(206, 101, 101, 1);
  --color-flamingo-600: rgba(184, 74, 74, 1);
  --color-flamingo-700: rgba(154, 59, 59, 1);
  --color-flamingo-800: rgba(128, 52, 52, 1);
  --color-flamingo-900: rgba(108, 48, 48, 1);
  --color-flamingo-950: rgba(57, 22, 22, 1);
  --color-rosewater-50: rgba(251, 246, 245, 1);
  --color-rosewater-100: rgba(248, 235, 232, 1);
  --color-rosewater-200: rgba(245, 224, 220, 1);
  --color-rosewater-300: rgba(234, 191, 183, 1);
  --color-rosewater-400: rgba(219, 154, 142, 1);
  --color-rosewater-500: rgba(203, 120, 104, 1);
  --color-rosewater-600: rgba(182, 93, 76, 1);
  --color-rosewater-700: rgba(152, 76, 61, 1);
  --color-rosewater-800: rgba(126, 66, 54, 1);
  --color-rosewater-900: rgba(106, 59, 50, 1);
  --color-rosewater-950: rgba(57, 28, 22, 1);
  --color-neutral-0: rgba(243, 245, 251, 1);
  --color-neutral-25: rgba(205, 214, 244, 1);
  --color-neutral-50: rgba(186, 194, 222, 1);
  --color-neutral-100: rgba(166, 173, 200, 1);
  --color-neutral-200: rgba(147, 153, 178, 1);
  --color-neutral-300: rgba(127, 132, 156, 1);
  --color-neutral-400: rgba(108, 112, 134, 1);
  --color-neutral-500: rgba(88, 91, 112, 1);
  --color-neutral-600: rgba(69, 71, 90, 1);
  --color-neutral-700: rgba(49, 50, 68, 1);
  --color-neutral-800: rgba(30, 30, 46, 1);
  --color-neutral-900: rgba(24, 24, 37, 1);
  --color-neutral-950: rgba(17, 17, 27, 1); */

  --color-lavender-50: oklch(0.96 0.019 276.3);
  --color-lavender-100: oklch(0.927 0.035 273.3);
  --color-lavender-200: oklch(0.864 0.067 276.6);
  --color-lavender-300: oklch(0.817 0.091 277.3);
  --color-lavender-400: oklch(0.667 0.171 278.5);
  --color-lavender-500: oklch(0.578 0.215 278.2);
  --color-lavender-600: oklch(0.511 0.236 278.1);
  --color-lavender-700: oklch(0.458 0.22 278.2);
  --color-lavender-800: oklch(0.399 0.182 278.4);
  --color-lavender-900: oklch(0.358 0.141 279.6);
  --color-lavender-950: oklch(0.257 0.089 282.7);
  --color-blue-50: oklch(0.969 0.015 260.7);
  --color-blue-100: oklch(0.926 0.032 264.4);
  --color-blue-200: oklch(0.871 0.06 263.3);
  --color-blue-300: oklch(0.766 0.111 259.9);
  --color-blue-400: oklch(0.686 0.15 261.4);
  --color-blue-500: oklch(0.591 0.199 264.3);
  --color-blue-600: oklch(0.516 0.225 265.9);
  --color-blue-700: oklch(0.462 0.227 266.6);
  --color-blue-800: oklch(0.403 0.189 268.2);
  --color-blue-900: oklch(0.361 0.143 269.2);
  --color-blue-950: oklch(0.273 0.091 271.3);
  --color-sapphire-50: oklch(0.978 0.009 232.4);
  --color-sapphire-100: oklch(0.951 0.02 238.7);
  --color-sapphire-200: oklch(0.901 0.044 228.1);
  --color-sapphire-300: oklch(0.791 0.096 228.7);
  --color-sapphire-400: oklch(0.736 0.117 229.2);
  --color-sapphire-500: oklch(0.664 0.126 231.8);
  --color-sapphire-600: oklch(0.569 0.118 236.8);
  --color-sapphire-700: oklch(0.485 0.101 238.1);
  --color-sapphire-800: oklch(0.43 0.084 236.8);
  --color-sapphire-900: oklch(0.383 0.071 237.6);
  --color-sapphire-950: oklch(0.291 0.051 238.2);
  --color-sky-50: oklch(0.979 0.014 207.9);
  --color-sky-100: oklch(0.946 0.034 208);
  --color-sky-200: oklch(0.897 0.06 208);
  --color-sky-300: oklch(0.847 0.083 210.3);
  --color-sky-400: oklch(0.737 0.115 214.2);
  --color-sky-500: oklch(0.65 0.111 218);
  --color-sky-600: oklch(0.559 0.097 223.6);
  --color-sky-700: oklch(0.482 0.081 226.2);
  --color-sky-800: oklch(0.424 0.065 227.6);
  --color-sky-900: oklch(0.381 0.055 229.4);
  --color-sky-950: oklch(0.286 0.045 232.5);
  --color-teal-50: oklch(0.981 0.01 181.4);
  --color-teal-100: oklch(0.942 0.035 183.4);
  --color-teal-200: oklch(0.858 0.079 182.7);
  --color-teal-300: oklch(0.808 0.093 185.1);
  --color-teal-400: oklch(0.721 0.104 185.5);
  --color-teal-500: oklch(0.636 0.099 187.1);
  --color-teal-600: oklch(0.542 0.084 187.6);
  --color-teal-700: oklch(0.466 0.069 189.7);
  --color-teal-800: oklch(0.403 0.056 190);
  --color-teal-900: oklch(0.361 0.046 191);
  --color-teal-950: oklch(0.252 0.033 198.5);
  --color-green-50: oklch(0.98 0.015 142.2);
  --color-green-100: oklch(0.956 0.035 141.4);
  --color-green-200: oklch(0.91 0.07 143.1);
  --color-green-300: oklch(0.858 0.109 142.7);
  --color-green-400: oklch(0.75 0.169 142.2);
  --color-green-500: oklch(0.662 0.182 142.2);
  --color-green-600: oklch(0.571 0.161 142.1);
  --color-green-700: oklch(0.484 0.13 142.2);
  --color-green-800: oklch(0.415 0.102 142.5);
  --color-green-900: oklch(0.366 0.087 142.8);
  --color-green-950: oklch(0.247 0.062 142.9);
  --color-yellow-50: oklch(0.981 0.017 84.6);
  --color-yellow-100: oklch(0.919 0.07 86.5);
  --color-yellow-200: oklch(0.89 0.096 86.2);
  --color-yellow-300: oklch(0.828 0.134 81.1);
  --color-yellow-400: oklch(0.776 0.15 73.3);
  --color-yellow-500: oklch(0.708 0.161 59.4);
  --color-yellow-600: oklch(0.616 0.159 49);
  --color-yellow-700: oklch(0.518 0.148 41.6);
  --color-yellow-800: oklch(0.446 0.125 39.2);
  --color-yellow-900: oklch(0.391 0.104 38.9);
  --color-yellow-950: oklch(0.264 0.073 37.9);
  --color-peach-50: oklch(0.976 0.015 61.3);
  --color-peach-100: oklch(0.944 0.034 61.7);
  --color-peach-200: oklch(0.881 0.069 56.7);
  --color-peach-300: oklch(0.824 0.101 52.6);
  --color-peach-400: oklch(0.717 0.166 44.5);
  --color-peach-500: oklch(0.661 0.201 38.6);
  --color-peach-600: oklch(0.609 0.208 34.5);
  --color-peach-700: oklch(0.524 0.184 32.6);
  --color-peach-800: oklch(0.447 0.151 31.3);
  --color-peach-900: oklch(0.388 0.124 31);
  --color-peach-950: oklch(0.254 0.08 29.4);
  --color-maroon-50: oklch(0.972 0.011 10.3);
  --color-maroon-100: oklch(0.947 0.021 6.6);
  --color-maroon-200: oklch(0.902 0.037 7.5);
  --color-maroon-300: oklch(0.782 0.09 8.8);
  --color-maroon-400: oklch(0.728 0.116 8.7);
  --color-maroon-500: oklch(0.636 0.156 10.1);
  --color-maroon-600: oklch(0.559 0.171 9);
  --color-maroon-700: oklch(0.487 0.155 8.4);
  --color-maroon-800: oklch(0.435 0.133 5.2);
  --color-maroon-900: oklch(0.396 0.113 2.7);
  --color-maroon-950: oklch(0.262 0.077 4.1);
  --color-red-50: oklch(0.971 0.013 0.3);
  --color-red-100: oklch(0.945 0.026 2.8);
  --color-red-200: oklch(0.898 0.051 359.6);
  --color-red-300: oklch(0.817 0.094 2.4);
  --color-red-400: oklch(0.756 0.13 2.8);
  --color-red-500: oklch(0.643 0.193 6);
  --color-red-600: oklch(0.575 0.204 6.2);
  --color-red-700: oklch(0.504 0.184 5.1);
  --color-red-800: oklch(0.447 0.159 2.4);
  --color-red-900: oklch(0.406 0.14 358.7);
  --color-red-950: oklch(0.268 0.093 1.3);

  --color-mauve-50: oklch(0.978 0.011 308.3);
  --color-mauve-100: oklch(0.949 0.027 304.8);
  --color-mauve-200: oklch(0.906 0.051 305.5);
  --color-mauve-300: oklch(0.787 0.119 304.8);
  --color-mauve-400: oklch(0.729 0.151 304.6);
  --color-mauve-500: oklch(0.63 0.203 303.5);
  --color-mauve-600: oklch(0.553 0.226 301.8);
  --color-mauve-700: oklch(0.489 0.214 301.8);
  --color-mauve-800: oklch(0.435 0.177 303.6);
  --color-mauve-900: oklch(0.378 0.147 304.3);
  --color-mauve-950: oklch(0.285 0.129 302.8);
  --color-pink-50: oklch(0.973 0.012 337.5);
  --color-pink-100: oklch(0.951 0.025 333.7);
  --color-pink-200: oklch(0.87 0.075 336.3);
  --color-pink-300: oklch(0.83 0.101 338.2);
  --color-pink-400: oklch(0.732 0.161 340.6);
  --color-pink-500: oklch(0.658 0.199 344);
  --color-pink-600: oklch(0.587 0.206 348.3);
  --color-pink-700: oklch(0.518 0.188 351.1);
  --color-pink-800: oklch(0.455 0.16 351.2);
  --color-pink-900: oklch(0.406 0.135 350.4);
  --color-pink-950: oklch(0.282 0.098 351.2);
  --color-flamingo-50: oklch(0.973 0.009 17.3);
  --color-flamingo-100: oklch(0.942 0.02 17.5);
  --color-flamingo-200: oklch(0.88 0.042 18);
  --color-flamingo-300: oklch(0.824 0.062 18.5);
  --color-flamingo-400: oklch(0.723 0.102 19.9);
  --color-flamingo-500: oklch(0.632 0.133 21.6);
  --color-flamingo-600: oklch(0.555 0.143 22.9);
  --color-flamingo-700: oklch(0.484 0.128 23.1);
  --color-flamingo-800: oklch(0.43 0.106 22.6);
  --color-flamingo-900: oklch(0.391 0.086 21.8);
  --color-flamingo-950: oklch(0.253 0.056 21.8);
  --color-rosewater-50: oklch(0.977 0.006 31.1);
  --color-rosewater-100: oklch(0.949 0.015 33.1);
  --color-rosewater-200: oklch(0.923 0.024 30.5);
  --color-rosewater-300: oklch(0.84 0.051 30.4);
  --color-rosewater-400: oklch(0.746 0.081 30.7);
  --color-rosewater-500: oklch(0.659 0.107 31.8);
  --color-rosewater-600: oklch(0.581 0.119 32.1);
  --color-rosewater-700: oklch(0.507 0.105 32.5);
  --color-rosewater-800: oklch(0.451 0.086 32.4);
  --color-rosewater-900: oklch(0.408 0.069 31.7);
  --color-rosewater-950: oklch(0.265 0.047 32.7);
  --color-neutral-0: oklch(0.97 0.008 271.3);
  --color-neutral-25: oklch(0.879 0.043 272.3);
  --color-neutral-50: oklch(0.817 0.04 272.9);
  --color-neutral-100: oklch(0.751 0.04 273.9);
  --color-neutral-200: oklch(0.687 0.037 274.7);
  --color-neutral-300: oklch(0.618 0.037 276);
  --color-neutral-400: oklch(0.55 0.034 277.1);
  --color-neutral-500: oklch(0.477 0.034 278.6);
  --color-neutral-600: oklch(0.404 0.032 280.2);
  --color-neutral-700: oklch(0.324 0.032 282);
  --color-neutral-800: oklch(0.243 0.03 283.9);
  --color-neutral-900: oklch(0.216 0.025 284.1);
  --color-neutral-950: oklch(0.183 0.02 284.2);

  --content-width: 663px;
  --layout-padding: 16px --sidebar-width: 247px;
}

@layer base {
  ::after,
  ::before,
  :root {
    --cursorDefault:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='31' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%230C162C' fill-rule='evenodd' stroke='%23fff' stroke-linecap='square' stroke-width='2.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"),
      auto;
    --cursorPointer:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='29' fill='none' viewBox='0 0 28 29'%3E%3Cpath fill='%23fff' d='M6.84 21.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1 2.1 0 0 1-.25-1.67 2.2 2.2 0 0 1 2.39-1.67c.85.18 1.63.6 2.25 1.2.43.41.82.85 1.18 1.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7 4.7 0 0 1 .43-3.08c.58-.55 1.44-.7 2.17-.37a4.4 4.4 0 0 1 1.57 2.17c.43 1.07.72 2.19.86 3.33.27 1.67.79 4.1.8 4.6 0-.61-.11-1.91 0-2.5.12-.6.54-1.1 1.12-1.33.5-.15 1.02-.19 1.53-.1.52.1.98.4 1.29.83.38.98.6 2 .63 3.05.04-.91.2-1.82.47-2.7.28-.39.68-.67 1.15-.8.55-.1 1.11-.1 1.66 0 .46.15.85.44 1.14.82.35.88.56 1.82.63 2.77 0 .23.12-.65.48-1.24a1.67 1.67 0 1 1 3.17 1.07v3.77c-.06.97-.2 1.94-.4 2.9-.29.85-.7 1.65-1.2 2.38-.8.9-1.48 1.92-1.98 3.02a6.67 6.67 0 0 0 .03 3.2c-.68.07-1.37.07-2.05 0-.65-.1-1.45-1.4-1.67-1.8a.63.63 0 0 0-1.13 0c-.37.64-1.18 1.79-1.75 1.85-1.12.14-3.42 0-5.23 0 0 0 .3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z'/%3E%3Cpath stroke='%230C162C' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.25' d='M6.84 21.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1 2.1 0 0 1-.25-1.67 2.2 2.2 0 0 1 2.39-1.67c.85.18 1.63.6 2.25 1.2.43.41.82.85 1.18 1.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7 4.7 0 0 1 .43-3.08c.58-.55 1.44-.7 2.17-.37a4.4 4.4 0 0 1 1.57 2.17c.43 1.07.72 2.19.86 3.33.27 1.67.79 4.1.8 4.6 0-.61-.11-1.91 0-2.5.12-.6.54-1.1 1.12-1.33.5-.15 1.02-.19 1.53-.1.52.1.98.4 1.29.83.38.98.6 2 .63 3.05.04-.91.2-1.82.47-2.7.28-.39.68-.67 1.15-.8.55-.1 1.11-.1 1.66 0 .46.15.85.44 1.14.82.35.88.56 1.82.63 2.77 0 .23.12-.65.48-1.24a1.67 1.67 0 1 1 3.17 1.07v3.77c-.06.97-.2 1.94-.4 2.9-.29.85-.7 1.65-1.2 2.38-.8.9-1.48 1.92-1.98 3.02a6.67 6.67 0 0 0 .03 3.2c-.68.07-1.37.07-2.05 0-.65-.1-1.45-1.4-1.67-1.8a.63.63 0 0 0-1.13 0c-.37.64-1.18 1.79-1.75 1.85-1.12.14-3.42 0-5.23 0 0 0 .3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z' clip-rule='evenodd'/%3E%3Cpath fill='%230C162C' d='M20.65 22.3v-6.24c0-.38-.31-.68-.7-.68-.37 0-.68.3-.68.68v6.23c0 .38.3.68.69.68.38 0 .69-.3.69-.68ZM17.2 22.3l-.04-6.25a.67.67 0 1 0-1.34.01l.04 6.24a.67.67 0 1 0 1.34 0ZM12.37 16.07l.04 6.22c0 .38.3.68.67.68.37 0 .67-.3.67-.68l-.04-6.23c0-.38-.3-.68-.67-.68-.37 0-.67.31-.67.69Z'/%3E%3C/svg%3E"),
      auto;
    /* --cursorGrab: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M8.32 14.57c-.15-.58-.31-1.35-.65-2.46-.33-1.1-.54-1.36-.74-1.95-.21-.59-.48-1.14-.8-1.87A19.2 19.2 0 0 1 5.4 6c-.13-.65.03-1.33.45-1.86.57-.55 1.39-.76 2.16-.55.6.26 1.1.7 1.46 1.25.47.75.85 1.55 1.14 2.38.45 1.15.77 2.33.97 3.54l.14.72V9.64c0-1.6-.1-2.9 0-4.67 0-.2.1-.94.13-1.14.04-.69.45-1.3 1.06-1.6.7-.3 1.52-.3 2.22 0 .64.3 1.06.9 1.1 1.6 0 .17.14 1.58.14 1.76V11.37c.04-2.1.22-4.19.54-6.26.19-.65.65-1.18 1.26-1.48.75-.3 1.6-.15 2.22.39.46.5.73 1.14.76 1.82v5.64c.14-.45.3-.86.43-1.18.13-.32.38-.97.57-1.36.2-.38.41-.75.65-1.1.25-.4.62-.71 1.07-.89a1.59 1.59 0 0 1 2.06.94c.1.58.1 1.17 0 1.75-.1.88-.3 1.76-.56 2.62-.2.7-.43 1.95-.54 2.53-.1.6-.36 2.2-.57 2.9-.3.83-.73 1.61-1.25 2.33a11.5 11.5 0 0 0-1.9 2.87 6.43 6.43 0 0 0 .04 3.05 9.2 9.2 0 0 1-1.95 0c-.62-.1-1.38-1.33-1.59-1.72a.6.6 0 0 0-1.08 0c-.36.6-1.13 1.7-1.67 1.77-1.06.12-3.25 0-4.98 0 0 0 .3-1.6-.37-2.16-.66-.57-1.31-1.24-1.8-1.68l-1.32-1.47c-.45-.57-1-1.73-1.97-3.17-.56-.8-1.59-1.73-2.03-2.5a2.78 2.78 0 0 1-.3-2.1 1.92 1.92 0 0 1 2.17-1.37c.74.05 1.43.35 1.97.86.42.37.82.76 1.19 1.19.25.3.32.44.6.8.29.37.48.74.34.2'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.25' d='M8.32 14.57c-.15-.58-.31-1.35-.65-2.46-.33-1.1-.54-1.36-.74-1.95-.21-.59-.48-1.14-.8-1.87A19.2 19.2 0 0 1 5.4 6c-.13-.65.03-1.33.45-1.86.57-.55 1.39-.76 2.16-.55.6.26 1.1.7 1.46 1.25.47.75.85 1.55 1.14 2.38.45 1.15.77 2.33.97 3.54l.14.72V9.64c0-1.6-.1-2.9 0-4.67 0-.2.1-.94.13-1.14.04-.69.45-1.3 1.06-1.6.7-.3 1.52-.3 2.22 0 .64.3 1.06.9 1.1 1.6 0 .17.14 1.58.14 1.76V11.37c.04-2.1.22-4.19.54-6.26.19-.65.65-1.18 1.26-1.48.75-.3 1.6-.15 2.22.39.46.5.73 1.14.76 1.82v5.64c.14-.45.3-.86.43-1.18.13-.32.38-.97.57-1.36.2-.38.41-.75.65-1.1.25-.4.62-.71 1.07-.89a1.59 1.59 0 0 1 2.06.94c.1.58.1 1.17 0 1.75-.1.88-.3 1.76-.56 2.62-.2.7-.43 1.95-.54 2.53-.1.6-.36 2.2-.57 2.9-.3.83-.73 1.61-1.25 2.33a11.5 11.5 0 0 0-1.9 2.87 6.43 6.43 0 0 0 .04 3.05 9.2 9.2 0 0 1-1.95 0c-.62-.1-1.38-1.33-1.59-1.72a.6.6 0 0 0-1.08 0c-.36.6-1.13 1.7-1.67 1.77-1.06.12-3.25 0-4.98 0 0 0 .3-1.6-.37-2.16-.66-.57-1.31-1.24-1.8-1.68l-1.32-1.47c-.45-.57-1-1.73-1.97-3.17-.56-.8-1.59-1.73-2.03-2.5a2.78 2.78 0 0 1-.3-2.1 1.92 1.92 0 0 1 2.17-1.37c.74.05 1.43.35 1.97.86.42.37.82.76 1.19 1.19.25.3.32.44.6.8.29.37.48.74.34.2'/%3E%3Cpath fill='%23000' d='M19.3 20.3v-6.24c0-.38-.3-.68-.68-.68-.38 0-.7.3-.7.68v6.23c0 .38.32.68.7.68.38 0 .69-.3.69-.68ZM16.13 20.3l-.01-6.25c0-.37-.31-.67-.69-.67-.37 0-.68.3-.68.68l.02 6.24c0 .37.3.67.68.67.38 0 .69-.3.68-.68ZM11.59 14.07l.03 6.22c0 .38.3.68.68.68.37 0 .67-.31.67-.69l-.04-6.22c0-.38-.3-.68-.67-.68a.68.68 0 0 0-.67.69Z'/%3E%3C/svg%3E"),
      auto;
    --cursorGrabbed: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='25' fill='none' viewBox='0 0 28 25'%3E%3Cpath fill='%23fff' d='M6.81 3.46c.9-.34 2.68-.13 3.14.88.47 1.01.75 2.32.77 2-.03-.97.05-1.93.25-2.88.2-.6.68-1.08 1.29-1.3a3.61 3.61 0 0 1 1.72-.1c.58.12 1.1.45 1.44.93.44 1.1.68 2.25.73 3.43.05-1 .22-2 .5-2.96.32-.44.77-.76 1.3-.9a5.2 5.2 0 0 1 1.87 0c.5.17.95.49 1.27.92.4 1 .64 2.04.71 3.1 0 .27.13-.72.55-1.38a1.88 1.88 0 1 1 3.55 1.2v4.23c-.07 1.1-.22 2.18-.45 3.25-.32.95-.78 1.85-1.35 2.68a13.51 13.51 0 0 0-2.22 3.39 7.71 7.71 0 0 0 .03 3.6c-.76.07-1.53.07-2.3 0-.73-.12-1.63-1.58-1.87-2.03a.71.71 0 0 0-1.27 0c-.41.71-1.33 2-1.87 2.08-1.26.15-3.86 0-5.88 0 0 0 .36-1.87-.43-2.55-.79-.67-1.55-1.46-2.13-1.98L4.6 17.35a8.33 8.33 0 0 1-2.32-3.75c-.4-1.76-.35-2.6 0-3.3a2.8 2.8 0 0 1 1.6-1.23c.54-.1 1.1-.06 1.64.12.37.15.68.4.92.73.43.58.58.86.39.22-.19-.63-.6-1.1-.8-1.87-.4-.9-.65-1.88-.72-2.86.08-.9.7-1.64 1.56-1.88'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' stroke-width='2.25' d='M6.81 3.46c.9-.34 2.68-.13 3.14.88.47 1.01.75 2.32.77 2-.03-.97.05-1.93.25-2.88.2-.6.68-1.08 1.29-1.3a3.61 3.61 0 0 1 1.72-.1c.58.12 1.1.45 1.44.93.44 1.1.68 2.25.73 3.43.05-1 .22-2 .5-2.96.32-.44.77-.76 1.3-.9a5.2 5.2 0 0 1 1.87 0c.5.17.95.49 1.27.92.4 1 .64 2.04.71 3.1 0 .27.13-.72.55-1.38a1.88 1.88 0 1 1 3.55 1.2v4.23c-.07 1.1-.22 2.18-.45 3.25-.32.95-.78 1.85-1.35 2.68a13.52 13.52 0 0 0-2.22 3.39 7.71 7.71 0 0 0 .03 3.6c-.76.07-1.53.07-2.3 0-.73-.12-1.63-1.58-1.87-2.03a.71.71 0 0 0-1.27 0c-.41.71-1.33 2-1.87 2.08-1.26.15-3.86 0-5.88 0 0 0 .36-1.87-.43-2.55-.79-.67-1.55-1.46-2.13-1.98L4.6 17.35a8.33 8.33 0 0 1-2.32-3.75c-.4-1.76-.35-2.6 0-3.3a2.8 2.8 0 0 1 1.6-1.23c.54-.1 1.1-.06 1.64.12.37.15.68.4.92.73.43.58.58.86.39.22-.19-.63-.6-1.1-.8-1.87-.4-.9-.65-1.88-.72-2.86.04-.9.64-1.68 1.5-1.95Z' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='M19.29 18.3v-6.24c0-.38-.3-.68-.69-.68-.38 0-.69.3-.69.68v6.23c0 .38.3.68.69.68.38 0 .69-.3.69-.68ZM16.12 18.3l-.02-6.25c0-.37-.3-.67-.68-.67-.38 0-.68.3-.68.68l.01 6.24c0 .37.31.67.69.67.37 0 .68-.3.68-.68ZM11.57 12.07l.04 6.22c0 .38.3.68.67.68.37 0 .67-.31.67-.69l-.04-6.22c0-.38-.3-.68-.67-.68a.68.68 0 0 0-.67.69Z'/%3E%3C/svg%3E"),
      auto; */
    --cursorText:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='25' fill='none' viewBox='0 0 13 25'%3E%3Cpath fill='%23fff' stroke='%230C162C' stroke-width='1.75' d='M8 18.48v-4.23h1.27v-3H8V5.8c.2-.44.5-.82.87-1.14.23-.16.52-.32.83-.44a5.4 5.4 0 0 1 1.17-.05l.87.05.05-.87.08-1.27.06-.87-.88-.06c-.7-.04-1.4 0-2.1.14l-.05.01-.06.02c-.7.25-1.29.56-1.82.95L7 2.28l-.03.02c-.16.13-.31.28-.46.42a6.93 6.93 0 0 0-.39-.38l-.03-.03-.03-.02a5.86 5.86 0 0 0-1.85-.97l-.04-.01-.04-.01a8.1 8.1 0 0 0-2.19-.16l-.87.06.06.87.08 1.27.06.88.87-.06c.43-.03.85 0 1.27.08.23.08.5.21.74.4.33.3.63.72.84 1.19v5.42H3.72v3h1.27v4.2c-.21.47-.51.89-.88 1.24-.2.14-.46.28-.75.37-.36.07-.8.1-1.22.06l-.87-.05-.06.87-.08 1.27-.06.88.87.05c.71.05 1.42 0 2.12-.14h.04l.04-.02a5.83 5.83 0 0 0 1.88-.95l.03-.02.03-.03.44-.43c.14.14.28.27.44.4l.02.02.02.01c.55.42 1.14.73 1.76.95l.05.02.06.01c.77.17 1.47.22 2.17.18l.88-.05-.05-.87-.07-1.27-.05-.87-.87.04c-.42.03-.83 0-1.24-.08-.24-.1-.52-.25-.8-.45A3.4 3.4 0 0 1 8 18.48Z'/%3E%3C/svg%3E"),
      auto;

    --cursorMarker:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='32' height='32' viewBox='0 0 57 58'%3E%3Cpath fill='%230C162C' d='M23.4 46.7l29.8-29.8a4.2 4.2 0 00.4-5.5 44.3 44.3 0 00-8-8 4.2 4.2 0 00-5.5.4L10.4 33.6l-2.9 8L5.7 43a4 4 0 00-.7 6c.3.4 1 .7 1.5.7h10.8l6-3z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M9.3 43.8l.7-.5.3-.8 2.6-7.5 3.3-3.3 9 9.1-3.3 3.4-5 2.5H7a1.2 1.2 0 01.4-1.5l1.8-1.4zm18-5l24-24a1.3 1.3 0 00.1-1.8A41.5 41.5 0 0044 5.6a1.3 1.3 0 00-1.7 0l-24 24.1 9 9zm13-35.1L10.4 33.5l-2.9 8L5.8 43a4 4 0 00-.6 5.8c.3.4.9.7 1.5.7h10.8l6-3 29.8-29.7a4.2 4.2 0 00.4-5.5 44.3 44.3 0 00-8-8 4.2 4.2 0 00-5.5.4z'/%3E%3C/svg%3E")
        4 27,
      auto;
  }

  * {
    box-sizing: border-box;
  }

  /* @media (hover: hover) and (pointer: fine) { */
  body {
    /* @apply cursor-default; */
    cursor: var(--cursorDefault);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  input[type='search'],
  li,
  pre {
    cursor: var(--cursorText);
  }
  a,
  a *,
  button,
  button * {
    @apply pointer-events-auto;
    cursor: var(--cursorPointer);
  }
  /* } */

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  .h-lig {
    @apply font-heading leading-[140%];
    font-feature-settings:
      'salt' on,
      'ss01' on,
      'ss03' on,
      'ss04' on,
      'ss06' on,
      'ss07' on,
      'ss08' on,
      'ss09' on,
      'ss10' on;
    font-variant-ligatures: discretionary-ligatures;
  }

  .h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    @apply text-2xl;
  }

  .h2 {
    @apply text-xl;
  }

  .h3 {
    @apply text-lg;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    @apply leading-[1.4];
  }

  .prose {
    @apply !text-tx-1 prose-h2:!mb-5 prose-h3:!mb-3 prose-h4:!mb-3 prose-headings:!leading-[140%] prose-headings:!font-heading prose-headings:!text-tx-0 prose-h1:!text-2xl prose-h2:!text-[1.375rem] prose-h3:!text-lg prose-h4:!text-base prose-a:!font-normal prose-a:!text-tx-0 prose-a:!decoration-1 prose-a:!decoration-wavy prose-a:!decoration-tx-accent-1 prose-a:!underline prose-a:!underline-offset-3 prose-a:!transition-colors prose-a:hover:!text-tx-accent-1 prose-blockquote:!border-l-mauve-400 prose-blockquote:!border-l-2 prose-blockquote:!my-4 prose-blockquote:!font-normal prose-blockquote:!not-italic prose-blockquote:!text-tx-2 prose-blockquote:opacity-90 prose-figcaption:!text-tx-3 prose-figcaption:opacity-80 prose-strong:!font-semibold prose-strong:!text-tx-1 prose-code:rounded prose-code:!bg-bg-2 prose-code:p-1.5 prose-code:!font-normal prose-code:!font-code prose-code:before:!content-[''] prose-code:after:!content-[''] prose-code:!text-tx-1 prose-pre:!bg-bg-2 prose-pre:!leading-relaxed prose-pre:!text-tx-1 prose-ol:!text-tx-1 prose-ul:overflow-x-clip prose-ul:!text-tx-1 prose-li:marker:!text-tx-accent-1 prose-table:font-body prose-th:border prose-th:border-ui-2 prose-th:pt-2 prose-th:last-of-type:pr-2 prose-td:border prose-td:border-ui-2 prose-td:last-of-type:pr-2 prose-img:mx-auto prose-img:!mt-8 prose-hr:!border-ui-2 prose-lead:!text-lg prose-lead:!text-tx-1 prose-p:!my-4 !leading-[1.625];
  }

  /* a {
    @apply text-tx-accent-1 hover:text-tx-accent-2 underline decoration-1 underline-offset-2 outline-offset-1 transition-all focus-visible:rounded focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  } */

  pre,
  code {
    @apply font-code leading-snug;
  }

  blockquote p:first-of-type::before,
  blockquote p:last-of-type::after {
    @apply !content-[none];
  }

  mark {
    @apply bg-bg-accent-1/25 text-tx-0 p-0.5;

    border-radius: 3rem 2rem 3.2rem 1.1rem;
    padding: 0.18rem 0.3rem;
    margin: -0.18rem -0.3rem;
    /* text-wrap: nowrap; */
  }

  iframe {
    @apply max-w-full;
  }

  .h1,
  .h2,
  .h3,
  .h4 {
    @apply font-heading text-tx-0 mb-3 leading-[140%];
  }
  .h1 {
    @apply text-2xl;
  }
  .h2 {
    @apply text-[1.375rem];
  }
  .h3 {
    @apply text-lg;
  }

  &::selection {
    @apply bg-bg-accent-1/30;
  }
  /* .prose {
    @apply !text-tx-1 !leading-[1.7];
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply !font-heading !text-tx-0 !mb-3 !leading-[140%];
  }

  .prose h1 {
    @apply !text-2xl;
  }

  .prose h2 {
    @apply !text-[1.375rem];
  }

  .prose h3 {
    @apply !text-lg;
  }

  .prose p {
    @apply !text-tx-1;
  }

  .prose a {
    @apply !text-tx-accent-1 !font-normal !underline !underline-offset-2 !transition-colors;
  }

  .prose a:hover {
    @apply !text-tx-accent-2;
  }

  .prose blockquote {
    @apply !text-tx-1 !border-l-red-100/50 !font-normal !not-italic opacity-90;
  }

  .prose figcaption {
    @apply !text-tx-3 opacity-80;
  }

  .prose strong {
    @apply !text-tx-1 !font-semibold;
  }

  .prose code {
    @apply !bg-bg-2 !text-tx-0 rounded p-1.5 !font-normal;
  }

  .prose code::before,
  .prose code::after {
    content: '';
  }

  .prose pre {
    @apply !bg-bg-2 !text-tx-1 !leading-relaxed;
  }

  .prose ol,
  .prose ul {
    @apply !text-tx-1;
  }

  .prose ul {
    @apply overflow-x-clip;
  }

  .prose li::marker {
    @apply !text-tx-accent-1;
  }

  .prose table {
    @apply text-tx-1;
  }

  .prose th {
    @apply border-ui-1 border pt-2;
  }

  .prose th:last-of-type {
    @apply pr-2;
  }

  .prose td {
    @apply border-ui-1 border;
  }

  .prose td:last-of-type {
    @apply pr-2;
  }

  .prose img {
    @apply mx-auto !mt-8;
  }

  .prose hr {
    @apply !border-ui-1;
  }

  .prose .lead {
    @apply !text-tx-1 !text-lg;
  }
  .prose input {
    @apply my-0;
  } */

  details > summary {
    list-style-type: none;
    display: inline;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  details > summary::before {
    content: '▶';
    text-align: center;
    margin-right: 4px;
    height: 1.4em;
    width: 1.4em;
    transition: all 0.3s;
    transform: rotate(0deg);
    display: inline-block;
  }

  details[open] > summary::before {
    transform: rotate(90deg);
  }

  .prose figcaption p {
    @apply mt-3;
  }

  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }

  .prose h2#table-of-contents {
    @apply mb-2;
  }

  .prose details {
    @apply text-tx-1 inline-block cursor-pointer select-none;
  }

  /* .prose summary {
    @apply focus-outline;
  } */

  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  .wide {
    @apply -mx-4 w-screen max-w-fit md:-mx-12 md:w-[calc(100%+96px)] md:max-w-[720px];
  }

  .wide-video {
    @apply -mx-4 w-screen md:-mx-12 md:w-[calc(100%+96px)] md:max-w-[920px];
  }

  .superwide {
    @apply -ml-5 w-screen max-w-fit md:w-[calc(100vw-120px)] md:max-w-[1000px];
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-bg-1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-bg-2;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-bg-2;
  }

  /* nav styles */

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }

    .hamburger {
      display: none;
    }
  }

  /* Spotify Now Playing Animations */
  @keyframes sound-bar {
    0% {
      height: 2px;
    }
    50% {
      height: 6px;
    }
    100% {
      height: 2px;
    }
  }

  .animate-sound-bar-1 {
    animation: sound-bar 1s ease-in-out infinite;
    animation-delay: 0s;
  }

  .animate-sound-bar-2 {
    animation: sound-bar 1s ease-in-out infinite;
    animation-delay: 0.5s;
  }

  .animate-sound-bar-3 {
    animation: sound-bar 1s ease-in-out infinite;
    animation-delay: 0.3s;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  /* Dashed border utility */
  .dashed-border {
    position: relative;
  }

  .dashed-border::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 4px,
      var(--color-ui-1) 4px,
      var(--color-ui-1) 8px
    );
    background-size: 8px 1px;
  }
}
