<!DOCTYPE html>
<html class="antialiased text-gray-900" lang="en">
  <head>
    {% include "partials/site-head.njk" %}
  </head>
  <body
    class="flex flex-col w-full h-full min-h-screen bg-neutral-900 font-wotfard text-neutral-300 lg:relative lg:flex-row"
    data-env="{{ node.env }}"
    x-data="{ open: false }"
    x-init="() => { setTimeout(() => { open = true }, 1500); }"
  >
    {% include "partials/site-nav.njk" %}

    <div class="flex flex-col flex-1 px-5 pt-12 pb-12 lg:px-8 lg:pt-32">
      <div class="max-w-2xl mx-auto">

        {{ content | safe }}

      </div>
    </div>

    {# {% include "partials/banner.njk" %} #}

    <script type="module" src="/main.js"></script>
  </body>
</html>