---
layout: layouts/base.njk
---
{% svgspriteIcon %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <div class="max-w-2xl px-4 mx-auto mb-3 sm:px-6 lg:px-8">
      <h1 class="text-2xl font-semibold leading-snug text-neutral-50">
        {{ intro.title }}
      </h1>
    </div>
    <div class="max-w-2xl px-4 mx-auto sm:px-6 lg:px-8">
      {% if intro.desc %}
        <div class="mb-8">
          <p class="text-lg text-neutral-400">{{ intro.desc | safe }}</p>
        </div>
        {# {% else %} #}
      {% endif %}

      <div class="prose prose-neutral ">
        {{ content | safe }}
      </div>
    </div>
  </main>
{% endblock %}