---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class='text-mint'>My awesome blog subtitle c cxoz</h2>

  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
</BaseLayout>
