---
import BaseHead, { type Props as HeadProps } from '~/components/BaseHead.astro'
import FAB from '../components/FAB.astro'
// import Header from '../components/Header.astro'
// import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'
const { ...head } = Astro.props
---

<html lang='en' class='bg-bg-1 text-tx-1 antialiased'>
  <head>
    <BaseHead {...head} />
  </head>
  <body class='grid place-items-center font-sans tracking-[-0.032em]'>
    <Navigation />

    <!-- <div
      class='grid min-h-dvh w-full max-w-fit min-w-full grid-cols-1 md:min-w-auto md:grid-cols-[minmax(0,var(--container-2xl))_minmax(0,var(--container-3xs))]'
    > -->
    <main class='w-full px-4 pb-12 md:pb-24'>
      <!-- <Header class='w-full' /> -->
      <slot />
      <!-- <FAB /> -->
      <!-- <Footer /> -->
    </main>
    <!-- Mobile overlay -->
    <div
      id='nav-overlay'
      class='pointer-events-none fixed inset-0 z-40 bg-black/20 opacity-0 backdrop-blur-xs transition-all duration-800 md:hidden'
    >
    </div>
    <!-- </div> -->
    <script>
      import '../scripts/menu.js'
    </script>
  </body>
</html>
