---
import BaseHead, { type Props as HeadProps } from '~/components/BaseHead.astro'
import FAB from '../components/FAB.astro'
// import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'
const { ...head } = Astro.props
---

<html lang='en' class='antialiased bg-bg-1 text-tx-1'>
  <head>
    <BaseHead {...head} />
  </head>
  <body class='flex flex-col min-h-dvh font-sans text-lg tracking-[-0.032em] lg:text-xl'>
    <Navigation />

    <!-- <div
      class='grid min-h-dvh w-full max-w-fit min-w-full grid-cols-1 md:min-w-auto md:grid-cols-[minmax(0,var(--container-2xl))_minmax(0,var(--container-3xs))]'
    > -->
    <main class='w-full flex-1 px-4 pb-12 md:pb-24'>
      <!-- <Header class='w-full' /> -->
      <slot />
      <!-- <FAB /> -->
    </main>
    <Footer />
    <!-- Mobile overlay -->
    <div
      id='nav-overlay'
      class='fixed inset-0 z-40 transition-all opacity-0 pointer-events-none bg-black/20 backdrop-blur-xs duration-800 md:hidden'
    >
    </div>
    <!-- </div> -->
    <script>
      import '../scripts/menu.js'
    </script>
  </body>
</html>
