{% svgspriteSvg %}

<nav
  class="sticky top-0 z-10 flex justify-between px-5 text-sm font-medium leading-6 border-b border-neutral-800 bg-neutral-900 lg:bottom-0 lg:h-screen lg:w-48 lg:flex-col lg:border-r lg:border-b-0 lg:px-4 lg:pt-8 lg:pb-5">
  {# <div class="flex items-center justify-between h-16">
    <figure class="flex items-center flex-shrink-0 space-x-1">
      <img alt="11st starter-kit logo" class="w-auto h-8" src="/images/11st-logo.svg" height="32" width="32"/>
      <figcaption>Starter-Kit</figcaption>
    </figure>
    <ul class="flex space-x-4">
      {% for item in navigation.items.top %}
        {% if item.url == page.url %}
          {%
      set highlight = 'cursor-default' %}
          {% set current =
      'aria-current="page"' %}
        {% else %}
          {% set highlight = 'underline' %}
          {% set current = '' %}
        {% endif %}
        <li>
          <a href="{{ item.url }}" class="text-base font-bold {{ highlight }}" {{ current }}>
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
      {% for item in navigation.items.bottom %}
        {% if item.url == page.url %}
          {% set highlight = 'cursor-default bg-neutral-800' %}
          {% set current =
      'aria-current="page"' %}
        {% else %}
          {% set highlight = 'underline' %}
          {% set current = '' %}
        {% endif %}
        <li>
          <a href="{{ item.url }}" class="text-base font-bold {{ highlight }}" {{ current }}>
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
      <li>
        <a href="https://github.com/stefanfrede/11st-starter-kit/" class="text-base font-bold underline hover:text-green-900">
          GitHub
        </a>
      </li>
    </ul>
  </div> #}

  <div class="flex justify-between w-full lg:flex-col">
    <a href="#" class="px-5 py-4 -ml-6 lg:ml-0 lg:mb-4 lg:px-4">
      <img src="/images/avatar.png" alt="" class="w-8 h-8 rounded-full ring-blue-500 hover:ring-2 lg:h-12 lg:w-12" />
    </a>

    <ul class="flex items-center flex-hori lg:flex-col lg:items-stretch">
      {% for item in navigation.items.top %}
        {% if item.url == page.url %}
          {% set highlight = 'cursor-default bg-neutral-800 text-neutral-50' %}
          {% set current = 'aria-current="page"' %}
        {% else %}
          {% set highlight = 'bg-neutral-900' %}
          {% set current = '' %}
        {% endif %}
        <li>
          <a href="{{ item.url }}" class="items-center hidden px-3 py-1 rounded-lg flex-vert hover:bg-neutral-850 md:flex lg:px-4 {{ highlight }}" {{ current }}>
            {% icon ""+item.icon, "w-4 h-4 hidden mr-3 sm:block fill-current {{ highlight }}" %}
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <ul class="items-center hidden flex-hori lg:flex lg:flex-col lg:items-stretch">
    {% for item in navigation.items.bottom %}
      {% if item.url == page.url %}
        {% set highlight = 'cursor-default bg-neutral-800 text-neutral-50' %}
        {% set current = 'aria-current="page"' %}
      {% else %}
        {% set highlight = 'bg-neutral-900' %}
        {% set current = '' %}
      {% endif %}
      <li>
        <a href="{{ item.url }}" class="items-center hidden px-3 py-1 rounded-lg flex-vert hover:bg-neutral-850 md:flex lg:px-4 {{ highlight }}" {{ current }}>
          {% icon ""+item.icon, "w-4 h-4 hidden mr-3 sm:block fill-current {{ highlight }}" %}
          {{ item.text }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>